<section id="partners" class="footer-section">
    <div class="container">
        <h2>Nossos Parceiros</h2>
        <div class="partner-logos">
            <img src="../assets/img/parceiros/novos/5.png" alt="Parceiro 1">
            <img src="../assets/img/parceiros/novos/cnpq logo.jpg" alt="Parceiro 6">
            <img src="../assets/img/parceiros/novos/logo_faperj_cor.jpg" alt="Parceiro 7">
            <img src="../assets/img/parceiros/novos/logo_ie.png" alt="Parceiro 8">
            <img src="../assets/img/parceiros/novos/PPGEDUC-foto-4.jpeg" alt="Parceiro 9">
            <img src="../assets/img/parceiros/novos/UFRRJ_logo01.png" alt="Parceiro 10">
        </div>
    </div>
</section>

<footer id="footer">
    <div class="container">



        <div class="copyright">

        </div>
        <div class="credits">
            &copy; <strong> Desenvolvido por <a>BREDUK</a></strong>
        </div>
    </div>
</footer>