<div class="container">
    <div class="row justify-content-between">
        <h1 mat-dialog-title style="color: #03989e">{{ eixo.titulo }}</h1>
        <i class="fa fa-times" (click)="close()"></i>
    </div>
    <div class="row">
        <h2 mat-dialog-title style="color: #9400A2"><strong [innerHTML]="eixo.tema"></strong></h2>
        <div mat-dialog-content>
            <p style="text-align: justify; color: #000000;">{{ eixo.descricao }}</p>
            <br>
            <!--<ul>
                <li>
                    <strong>Coordenação</strong>
                </li>
                <li *ngFor="let coordenador of eixo.coordenacao">
                    {{ coordenador }}
                </li>
            </ul>-->
        </div>

    </div>
</div>