<div class="example-container">
  <mat-toolbar class="example-toolbar">
    <div class="header">
      <section id="topbar" class="d-none d-lg-block">
        <div class="container clearfix">
          <div class="social-links float-right text-white">
            <a [routerLink]="" *ngIf="userName">{{ 'Olá, ' + userName }}</a>
            <a href="https://facebook.com/edocrural" title="Facebook e-DoC" alt="Facebook e-DoC" target="_blank"
              class="facebook"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.instagram.com/e_dociv/?hl=pt-br" title="Instagram e-DoC" alt="Instagram e-DoC"
              target="_blank" class="instagram"><i class="fab fa-instagram"></i></a>
            <a href="https://youtube.com/channel/UCJuPhHS2bA49pfoQ2NYStPw" title="Youtube e-DoC" alt="Youtube e-DoC"
              target="_blank" class="youtube"><i class="fab fa-youtube"></i></a>
            <a href="https://twitter.com/e_DoCufrrj" title="Twitter e-DoC" alt="Twitter e-DoC" target="_blank"
              class="twitter"><i class="fab fa-twitter"></i></a>
          </div>
        </div>
      </section>

      <header id="header">
        <div class="container">

          <div id="logo" class="pull-left">

            <h1><a tabindex="0" [routerLink]="['/home']" fragment="body" class="scrollto">
                <img height="60" width="75" src="../assets/img/logo.png">

              </a>
            </h1>
          </div>

          <nav id="nav-menu-container" [hidden]="isMobile == true">
            <ul class="nav-menu">
              <!-- <li class="pointer">
                <a tabindex="0" class="menu-has-children aoVivo comMargem pulse" [routerLink]="['/edoc-remoto']">e-DoC
                  Virtual</a>
              </li>-->


              <!--  <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" alt="Sobre" href="#" id="organizacaopMenu" role="button"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  SOBRE
                </a>
                <div class="dropdown-menu" aria-labelledby="organizacaopMenu">
                  <a class="dropdown-item" [routerLink]="['/home']" alt="Tema" fragment="about">Tema</a>
                  <div class="dropdown-divider"></div>

                  <a class="dropdown-item" [routerLink]="['/home']" alt="Apresentação"
                    fragment="clients">Apresentação</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" [routerLink]="['/home']" alt="Objetivos" fragment="objetivos">Objetivos</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" [routerLink]="['/home']" alt="Público" fragment="publico">Público Alvo</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" [routerLink]="['/home']" alt="Eixos" fragment="services">Eixos</a>
                  <div class="dropdown-divider"></div>
                   <a class="dropdown-item" [routerLink]="['/home']" alt="Histórico" fragment="historico">e-DoCs
                    Anteriores</a>

                </div>
              </li>-->





              <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" alt="Programação" id="programacaoMenu" role="button"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  PROGRAMAÇÃO
                </a>
                <div class="dropdown-menu" aria-labelledby="programacaoMenu">
                  <a class="dropdown-item" alt="Programação" [routerLink]="['/programacao']"
                    fragment="programacao">Geral</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" alt="Inscreva-se" [routerLink]="['/programacao-aberta']"
                    fragment="inscreva">Atividades Abertas</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" alt="Inscreva-se" [routerLink]="['/inscrevase']"
                    fragment="inscreva">Atividades Fechadas</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" alt="Conferencistas" [routerLink]="['/home']"
                    (click)="openConferencistasModal()">Conferencistas</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" alt="Lançamento de livros" [routerLink]="['/lancamento-livros']">Lançamento
                    de Livros</a>
                </div>
              </li>-->

              <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" alt="Submissão" id="programacaoMenu" role="button"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  ORIENTAÇÕES
                </a>
                <div class="dropdown-menu" aria-labelledby="programacaoMenu">
                  <a class="dropdown-item" [routerLink]="['/home']" fragment="normas">Normas</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" [routerLink]="['/home']" fragment="modalidades">Modalidades</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" [routerLink]="['/home']" fragment="prazos">Prazos</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" [routerLink]="['/anais-virtual']" fragment="anais">Anais</a>
                </div>
              </li>-->


              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" alt="memoria" id="memoriaMenu" role="button"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  MEMÓRIAS E-DOC
                </a>
                <div class="dropdown-menu" aria-labelledby="memoriaMenu">
                  <a class="dropdown-item" [routerLink]="['/memoria']" fragment="iv">e-Docs anterioes</a>
                  <div class="dropdown-divider"></div>
                  <!--<a class="dropdown-item" [routerLink]="['/memoria']" fragment="I">I,II,III e-Doc</a>
                  <div class="dropdown-divider"></div>-->

                </div>
              </li>

              <!--
              <li class="menu-has-children pointer">
                <a tabindex="0" (keydown)="expandMenu($event, 'dicas')">RIO DE JANEIRO <i class="fa fa-chevron-down"></i></a>
                <ul class="dicas">
                  <li><a tabindex="0" alt="hospedagem" [routerLink]="['/home']" fragment="Hospedagem">Hospedagem</a></li>
                  <li><a tabindex="0" alt="transporte" [routerLink]="['/home']" fragment="Transporte">Transporte</a></li>
                  <li><a tabindex="0" alt="alimentação" [routerLink]="['/home']" fragment="Alimentação">Alimentação</a></li>
                  <li><a tabindex="0" alt="turismo" [routerLink]="['/home']" fragment="Turismo">Turismo</a></li>
                  <li><a tabindex="0" alt="clima" [routerLink]="['/home']" fragment="Clima">Clima</a></li>
                </ul>
              </li>-->
              <!--<li class="pointer">
                <a tabindex="0" class="pulse" style="color:#ffffff" *ngIf="!isAuth" [routerLink]="['/register']"
                  fragment="">INSCRIÇÃO</a>
              </li>-->
              <li tabindex="0" class="pointer" *ngIf="!isAuth"><a tabindex="0" [routerLink]="['/login']">LOGIN</a></li>

              <li *ngIf="isAuth" class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" alt="Ações" href="#" id="acoesMenu" role="button"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  AÇÕES
                </a>
                <div class="dropdown-menu" aria-labelledby="acoesMenu">

                  <!--  <a class="dropdown-item" alt="Pagamento" [routerLink]="['/pagamento']">Pagamento</a>
                  <div class="dropdown-divider"></div>-->

                  <a class="dropdown-item" alt="Submissão" [routerLink]="['/meus-trabalhos']">Submissão</a>
                  <div class="dropdown-divider"></div>

                  <a class="dropdown-item" alt="Perfil" [routerLink]="['/perfil']">Perfil</a>
                  <div *ngIf="verifyAcess()" class="dropdown-divider"></div>

                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item aoVivo pulse" alt="pe" [routerLink]="['/meu-edoc']" fragment="programacao">Meu
                    e-DoC</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" alt="Certificados" [routerLink]="['/certificados']"
                    fragment="certificados">Certificados</a>

                  <div class="dropdown-divider"></div>
                  <a *ngIf="verifyAcess()" class="dropdown-item" [routerLink]="['/admin']">Dashboard</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" [routerLink]="['/home']" (click)="logout()">Sair</a>
                </div>
              </li>


            </ul>
          </nav>

          <div id="logo" class="pull-right" [hidden]="isMobile == false">
            <ul class="nav-menu pointer">
              <li>
                <i class="fa fa-bars" (click)="sidenav.toggle()"></i>
              </li>
            </ul>
          </div>
        </div>
      </header>
    </div>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container">

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
    <mat-sidenav #sidenav mode="over">
      <accordion #accordion [isAnimated]="true" [closeOthers]="true">

        <!--<ul class="child-list">
          <li>
            <a tabindex="0" accordion-heading class="menu-has-children aoVivo pulse" [routerLink]="['/edoc-remoto']"
              (click)="sidenav.toggle()">e-DoC Virtual</a>
          </li>
        </ul>-->





        <accordion-group>
          <a tabindex="0" accordion-heading>MEMÓRIAS<i class="fa fa-chevron-down"></i></a>
          <ul class="child-list">
            <li><a tabindex="0" [routerLink]="['/memoria']" fragment="e-Docs Anteriores" (click)="sidenav.toggle()">IV
                e-Doc</a>
            </li>
            <!--  <li><a tabindex="0" [routerLink]="['/memoria']" fragment="I,II,III e-Doc"
                (click)="sidenav.toggle()">I,II,III
                e-Doc</a>
            </li>-->
            <!--<li><a tabindex="0" [routerLink]="['/home']" fragment="hospedagem"
                (click)="sidenav.toggle()">Alimentação</a>
            </li>
            <li><a tabindex="0" [routerLink]="['/home']" fragment="hospedagem" (click)="sidenav.toggle()">Turismo</a>
            </li>
            <li><a tabindex="0" [routerLink]="['/home']" fragment="hospedagem" (click)="sidenav.toggle()">Clima</a></li>-->
          </ul>
        </accordion-group>




        <ul class="child-list" *ngIf="!isAuth">
          <li>
            <a tabindex="0" accordion-heading [routerLink]="['/login']" (click)="sidenav.toggle()">LOGIN</a>
          </li>
        </ul>

        <accordion-group>
          <a tabindex="0" accordion-heading *ngIf="isAuth" [routerLink]="">AÇÕES <i class="fa fa-chevron-down"></i></a>
          <ul class="child-list">
            <!--  <li><a tabindex="0" [routerLink]="['/pagamento']" (click)="sidenav.toggle()">Pagamento</a></li> -->
            <li><a tabindex="0" [routerLink]="['/meus-trabalhos']" (click)="sidenav.toggle()">Submissão</a></li>
            <li><a tabindex="0" class="menu-has-children aoVivo pulse" [routerLink]="['/meu-edoc']">Meu e-DoC</a>
            </li>
            <li><a tabindex="0" [routerLink]="['/certificados']" (click)="sidenav.toggle()">Certificados</a></li>
            <li><a [routerLink]="['/perfil']" (click)="sidenav.toggle()">Perfil</a></li>

            <li *ngIf="verifyAcess()">
              <a tabindex="0" [routerLink]="['/admin']" (click)="sidenav.toggle()">Dashboard</a>
            </li>
            <li><a tabindex="0" class="pointer" [routerLink]="" (click)="logout()" (click)="sidenav.toggle()">Sair</a>
            </li>

          </ul>
        </accordion-group>
      </accordion>
    </mat-sidenav>
  </mat-sidenav-container>
</div>

<!--
<div class="splashScreenClass" id="custom-overlay">
  <img src="../assets/img/intro.jpg" />
</div>
-->

<!-- <app-header></app-header> -->
<!-- <router-outlet></router-outlet> -->
<app-footer></app-footer>