<div class="container">
  <div class="scroll">
    <h2><strong>NORMAS GERAIS</strong></h2>


    O IV e-Doc Encontro Internacional de Docência e Cibercultura receberá submissões de trabalhos nas modalidades
    <strong>Oficina, Painel de Pesquisa, Conferência Internacional e Fruições artístico-literárias
      no período 20 de junho a 10 de julho de 2022.</strong>
    <br /><br />

    O prazo para <strong>submissão de trabalhos: de 20/06 até 10/07.</strong>
    <br /><br />
    Todo o processo de submissão, inscrição e acompanhamento da avaliação deverá ser feito
    exclusivamente, na área do inscrito, no site do evento <strong>(e-doc.pro.br).</strong>
    <br /><br />
    Qualquer dúvida ou comunicação, deve ser encaminhada ao e-mail do evento: edocufrrj@gmail.com
    <br /><br />
    Os trabalhos aceitos serão publicados em meio eletrônico, no formato <strong>E-book.
    </strong>
    <br /><br />


    <h3><strong>ORIENTAÇÕES</strong></h3>
    <ul>
      <li>
        O texto/proposta deve ser enviado exclusivamente pelo site (e-doc.pro.br) por meio do
        cadastro pessoal de um(a) do(as) autores(as).
      </li>
      <li>
        O e-mail é a chave para sua inscrição, por isso cuide de certificar que esteja correto.
      </li>
      <li>
        O texto/proposta do(s) autor(es) e da(s) autora(s) deve estar articulado a um dos<strong> Eixos
          Temáticos</strong>, devendo explicitá-lo na submissão da proposta.
      </li>
      <li>
        Os roteiros e resumos dos trabalhos que serão apresentados no IV E-DOC foram
        produzidos por membros dos grupos de pesquisa associados (programas do Estado do Rio de
        Janeiro) ou convidados (grupos de pesquisas nacionais e internacionais)
        que atuam no campo da Educação e Cibercultura.

      </li>

      <li>
        Os(As) autores(as) deverão atentar para o atendimento aos<strong> padrões de ética na
          pesquisa </strong>bem como para a correção de linguagem e normatização técnica da
        <strong>ABNT</strong>.
      </li>
      <li>Cada autor(a) poderá submeter até três trabalhos em modalidades diferentes.</li>

      <li>
        O material aceito para apresentação e/ou publicação será utilizado em sua
        versão original, ou seja, os arquivos enviados não são passíveis de substituição
        e/ou modificações posteriores. A revisão do(s) trabalho(s) é de responsabilidade
        do(s) autor(es).
      </li>
      <li>
        Os textos/propostas em formato *doc/*docx e *pdf não poderão exceder o limite de 2MB.
      </li>

    </ul>
    <br />
    <h3><strong>REGRAS ESPECÍFICAS PARA SUBMISSÃO DE
        TRABALHO</strong>
    </h3>
    <br />

    <h4><strong>1. OFICINA</strong></h4>


    As oficinas serão oferecidas pelos grupos de pesquisa associados e convidados.

    <br /><br />

    Serão aceitas como Oficinas propostas de desenvolvimento didático de assunto
    relevante e associado às temáticas dos eixos do IV E-DOC.
    <br /><br />

    O texto na íntegra da oficina deverá ter entre 300 e 500 palavras, contendo: <strong>título,
      ementa, objetivo(s), nº de sessões, metodologia/avaliação, público-alvo, limite
      máximo de nº de participantes e referências bibliográficas.</strong>
    <br /><br />

    <strong>O formato do texto deve considerar:</strong><br />
    <ul>
      <li>
        Programa: WORD FOR WINDOWS;
      </li>
      <li>
        Fonte: Times New Roman, tamanho 12;
      </li>
      <li>
        Papel tamanho A4;
      </li>
      <li>
        Margem superior e inferior com 2,5 cm;
      </li>
      <li>
        Margem esquerda e direita com 3 cm;
      </li>
      <li>
        Espaçamento entre linhas: 1,5 cm;
      </li>
      <li>
        Alinhamento: Justificado;
      </li>
      <li>
        Cabeçalho e rodapé conforme TEMPLATE.
      </li>
    </ul>

    <strong>Anexando arquivos</strong>
    <br />
    Os arquivos deverão conter as seguintes informações:
    <br /><br />
    <ul>
      <li>
        Título da Oficina em maiúsculo/negrito com alinhamento centralizado;
      </li>
      <li>
        Nome(s) do(s) autor(es) e da(s) autora(s), bem como da(s) instituição(ões) com alinhamento à direita;
      </li>
      <li>
        Corpo do texto (ementa, objetivo/s, nº de sessões, metodologia/avaliação,
        público alvo, limite máximo de nº de participantes e referências).
      </li>
    </ul>
    <strong>ATENÇÃO:</strong>Os arquivos deverão ser nomeados conforme o modelo que segue:
    Oficina seguido do CPF do primeiro proponente (Exemplo:
    oficina00000).
    <br /><br />


    <h4><strong>2. PAINEL DE PESQUISA</strong></h4>

    Os Painéis serão rodas de conversas a partir de trabalhos de pesquisa concluídos ou em
    andamento dos membros dos grupos de pesquisa associados.

    <br /><br />
    O trabalho que comporá o Painel deverá atender ao limite máximo de dez autores(as).
    <br /><br />
    Os painéis serão distribuídos ao longo da programação online/remota.

    <br /><br />
    <ul>
      <li>
        Duração do Painel: 3 horas;
      </li>
      <li>
        A estrutura do Painel deve conter: título, eixo, coordenação,
        resumo, três a cinco palavras-chave, seguido dos três textos completos com
        respectivos resumos dos diferentes proponentes;
      </li>

    </ul>
    <strong>Organização dos textos que acompanham o Painel para publicação em meio
      eletrônico no formato E-book</strong>
    <br /><br />
    O texto do Painel deverá ter formato de resumo expandido, com problemática
    anunciada e desenvolvida, conclusões/recomendações e referências bibliográficas. A
    digitação e a formatação do texto devem seguir as orientações abaixo:
    <br /><br />
    <ul>
      <li>
        O resumo geral do Painel e de cada texto que o compõe deve conter entre 250 e
        300 palavras, em espaço simples, apresentando no final, três a cinco palavras-
        chave;
      </li>
      <li>
        O texto em forma de resumo expandido deve ser estruturado em torno de 4 (quatro) a 6 (seis)
        páginas, em espaço 1,5;
      </li>
      <li>
        Referências e anexos;
      </li>
      <li>
        As citações e as notas devem seguir as normas da ABNT em vigor;
      </li>
      <li>
        Não utilizar notas de rodapé (notas de fim são aceitas);
      </li>
      <li>
        As referências devem ficar localizadas ao final do texto, contendo
        exclusivamente as obras citadas;
      </li>
      <li>
        Os quadros, tabelas, gráficos, figuras (fotografias ou desenhos) devem vir após
        as referências, com indicação de fonte (quando for o caso);
      </li>
      <li>
        O limite estabelecido entre 4 e 6 páginas considera resumo, palavras-chaves,
        texto, referências e anexos;
      </li>

    </ul>

    <strong>O formato do texto deve considerar:</strong>
    <br />
    O trabalho que compõe o Painel deverá seguir as instruções que se seguem:
    <br /><br />
    <strong>O formato do texto deve considerar:</strong><br />
    <ul>
      <li>
        Programa: WORD FOR WINDOWS;
      </li>
      <li>
        Fonte: Times New Roman, tamanho 12;
      </li>
      <li>
        Papel tamanho A4;
      </li>
      <li>
        Margem superior e inferior com 2,5 cm;
      </li>
      <li>
        Margem esquerda e direita com 3 cm;
      </li>
      <li>
        Espaçamento entre linhas: 1,5 cm (no caso do resumo, espaçamento simples);
      </li>
      <li>
        Alinhamento: Justificado;
      </li>
      <li>
        Páginas numeradas a partir da segunda (no alto, à direita); mínimo de quatro (4),
        máximo de seis (6 páginas);
      </li>
      <li>
        Cabeçalho e rodapé conforme TEMPLATE.

      </li>
    </ul>

    <strong>Anexando arquivos (será anexado somente um arquivo - em duas extensões - com todos os textos):</strong>
    <br />

    As extensões em formato *DOCX e *pdf, deve conter as seguintes informações:
    <br /><br />

    <ul>
      <li>
        Título do Painel em maiúsculo/negrito com alinhamento centralizado;
      </li>
      <li>
        Nome do/a coordenador/a do Painel e sua instituição com alinhamento à direita;
      </li>
      <li>
        O resumo do Painel;
      </li>
      <li>
        Palavras-chave;
      </li>
      <li>
        Título do Trabalho em maiúsculo/negrito com alinhamento centralizado;
      </li>
      <li>
        Nome(s) do(s) autor(es) e da(s) autora(s), bem como da(s) instituição(ões) com alinhamento à direita;
      </li>
      <li>
        Resumo e Palavras-chave;
      </li>
      <li>
        Resumo expandido do painel;.
      </li>

    </ul>

    <strong>ATENÇÃO:</strong> Os arquivos deverão ser nomeados conforme o modelo que segue:
    Painel
    seguido do CPF do(a) coordenador(a) do painel (Exemplo: painel00000000000).
    <br /><br />

    <h4><strong>3. EXPOSIÇÃO E FRUIÇÕES ARTÍSTICO-LITERÁRIAS</strong></h4>

    As fruições artístico-literárias serão oferecidas pelos grupos de pesquisa associados e convidados.

    <br /><br />

    Serão aceitas como exposição e fruições artísticos-literárias propostas de desenvolvimento didático de assunto
    relevante e associado às temáticas dos eixos do IV E-DOC.
    <br /><br />

    O texto do roteiro da exposição deverá ter entre 300 e 500 palavras, contendo: <strong>título,
      ementa, objetivo(s), nº de sessões, metodologia/avaliação, público-alvo, limite
      máximo de nº de participantes e referências bibliográficas.</strong>
    <br /><br />

    <strong>O formato do texto deve considerar:</strong><br />
    <ul>
      <li>
        Programa: WORD FOR WINDOWS;
      </li>
      <li>
        Fonte: Times New Roman, tamanho 12;
      </li>
      <li>
        Papel tamanho A4;
      </li>
      <li>
        Margem superior e inferior com 2,5 cm;
      </li>
      <li>
        Margem esquerda e direita com 3 cm;
      </li>
      <li>
        Espaçamento entre linhas: 1,5 cm;
      </li>
      <li>
        Alinhamento: Justificado;
      </li>
      <li>
        Cabeçalho e rodapé conforme TEMPLATE.
      </li>
    </ul>

    <strong>Anexando arquivos</strong>
    <br />
    Os arquivos deverão conter as seguintes informações:
    <br /><br />
    <ul>
      <li>
        Título da Exposição em maiúsculo/negrito com alinhamento centralizado;
      </li>
      <li>
        Nome(s) do(s) autor(es) e da(s) autora(s), bem como da(s) instituição(ões) com alinhamento à direita;
      </li>
      <li>
        Corpo do texto (ementa, objetivo/s, nº de sessões, metodologia/avaliação,
        público alvo, limite máximo de nº de participantes e referências).
      </li>
    </ul>
    <strong>ATENÇÃO:</strong>Os arquivos deverão ser nomeados conforme o modelo que segue:
    exposicao seguido do CPF do primeiro proponente (Exemplo:
    exposicao00000).
    <br /><br />
    <!--Os Pôsteres têm como finalidade a apresentação de trabalho decorrente de <strong>pesquisas
      em andamento ou experiências de ensino em realização.</strong> O tema do Pôster deverá se
    relacionar com um dos eixos do Encontro, podendo ser submetido por estudantes de graduação e de
    pós-graduação, professor da Educação Básica e/ou Professor da Educação Superior.
    <br /><br />
    Os Pôsteres deverão atender ao limite máximo de quatro autores.
    <br /><br />
    Os Pôsteres serão debatidos em salas de comunicações com mediações de professores
    convidados, devendo ser apresentado em formato digital para projeção.
    <br /><br />
    <strong>Organização do texto do Pôster para publicação em meio eletrônico no formato E-
      book</strong>
    <br />
    O texto do Pôster deverá ter formato de artigo, com problemática anunciada e
    desenvolvida, conclusões e referências bibliográficas. A digitação e a formatação do
    texto devem seguir as orientações abaixo:
    <br /><br />
    <ul>
      <li>
        O resumo de cada texto do pôster deve conter entre 250 e 300 palavras, em
        espaço simples, apresentando no final, três a cinco palavras-chave;
      </li>

      <li>
        O texto em forma de artigo deve ser estruturado em torno de 5 (cinco) a 8 (oito)
        páginas, em espaço 1,5;
      </li>
      <li>
        Referências e anexos;
      </li>
      <li>
        As citações e as notas devem seguir as normas da ABNT em vigor;
      </li>
      <li>
        Não utilizar notas de rodapé (notas de fim são aceitas);
      </li>

      <li>
        As referências devem ficar localizadas ao final do texto, contendo
        exclusivamente as obras citadas;
      </li>

      <li>
        Os quadros, tabelas, gráficos, figuras (fotografias ou desenhos) devem vir após
        as referências, com indicação de fonte (quando for o caso);
      </li>

      <li>
        O limite estabelecido entre 5 (cinco) a 8 (oito) páginas considera resumo,
        palavras-chaves, texto, referências e anexos.
      </li>
    </ul>

    <strong>O formato do texto deve considerar:</strong><br />
    <ul>
      <li>
        Programa: WORD FOR WINDOWS;
      </li>
      <li>
        Fonte: Times New Roman, tamanho 12;
      </li>
      <li>
        Papel tamanho A4;
      </li>
      <li>
        Margem superior e inferior com 2,5 cm;
      </li>
      <li>
        Margem esquerda e direita com 3 cm;
      </li>
      <li>
        Espaçamento entre linhas: 1,5 cm (no caso do resumo, espaçamento simples);
      </li>
      <li>
        Alinhamento: Justificado;
      </li>
      <li>
        Páginas numeradas a partir da segunda (no alto, à direita); mínimo de cinco (5),
        máximo de oito (8 páginas);
      </li>
      <li>
        Cabeçalho e rodapé conforme TEMPLATE.

      </li>
    </ul>

    <strong>Anexando arquivos</strong><br />
    Com o objetivo de garantir o anonimato dos trabalhos para o processo de avaliação, o
    arquivo de cada proposta de Pôster deverá ser encaminhado em duas extensões. A
    primeira extensão, em formato *doc/*docx, deve conter todas as informações indicadas
    a seguir, com EXCEÇÃO do nome dos(as) autores(as) e das instituições. A segunda extensão,
    em formato *pdf, deve conter as seguintes informações:
    <br /><br />
    <ul>
      <li>
        Título do Pôster em maiúsculo/negrito com alinhamento centralizado;
      </li>
      <li>
        Nome(s) do(s) autor(es) e da(s) autora(s), bem como da(s) instituição(ões) com alinhamento à direita;
      </li>
      <li>
        Resumo e palavras-chave;.
      </li>
      <li>
        Texto completo do Pôster.
      </li>
    </ul>
    <strong>ATENÇÃO:</strong> Os arquivos deverão ser nomeados conforme o modelo que segue:
    Pôster
    seguido do CPF do primeiro autor (Exemplo: poster00000000000).
  </div>-->

  </div>