<!--==========================
      parcerias Section
    ============================-->
<section id="parcerias" class="wow fadeInUp">
  <div class="container">
    <div class="row justify-content-between">
      <div class="section-header" mat-dialog-title>
        <h2>Conferencistas</h2>
      </div>
      <i class="fa fa-times" (click)="close()"></i>
    </div>
    <mat-dialog-content>

      <div *ngIf="conferencistas.length > 0">


        <div class="container " *ngFor="let conf of conferencistas| sort:'fullname'">
          <div class="row">
            <div class="col-sm-12">
              <img [src]="conf.imagem ? _DomSanitizationService.bypassSecurityTrustUrl(conf.imagem) : conf.imagemLocal"
                title="{{conf.fullname}}">
            </div>
            <div class="col-sm-12">{{conf.fullname}}</div>
            <div class="col-sm-11">{{conf.description}}</div>
          </div>

        </div>

      </div>

    </mat-dialog-content>
  </div>
</section>
<!-- #cronograma -->