<section id="intro">

  <div alt="Logo do evento" title="Logo do evento" class="intro-content">
    <!--<h2>XX Endipe <span>|</span> Rio 2020</h2>
         <div>
            <a class="btn-get-started scrollto" style="cursor: pointer" [routerLink]="['/home']"
                fragment="pricing">Inscreva-se</a>
             href="#about" 
             <a href="#portfolio" class="btn-projects scrollto">Our Projects</a> 
        </div>-->
  </div>

</section><!-- #intro -->

<main id="main">

  <!--==========================
      Sobre Section
    ============================-->
  <section id="about" class="wow fadeInUp mt-4">
    <div class="container">

      <div class="row">
        <div class="col-lg-6 content">
          <h2 style="color: #03989e;">TEMA</h2>
          <h2 class="child"><strong style="color:#9400A2">Docência na cibercultura : encontros disruptivos</strong></h2>

          <!-- <h3>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
                        id est laborum.</h3> -->
          <ul>
            <li>
              <strong> Bianual, Número 5. Rio de Janeiro - MODALIDADE ONLINE</strong>
            </li>
            <li>
              <strong> Universidade Federal Rural do Rio de Janeiro - 2024</strong>
            </li>
            <li>
              <strong> Período: Agosto a Dezembro de 2024</strong>
            </li>
            <li>
              <strong>Locais</strong>
            </li>
            <li>
              <ul>
                <li style="text-align: justify;">
                  - Conferências e mesas redondas, lançamento de livros com roda de conversa e
                  exposições e fruições artítico-literárias serão transmitidos ao vivo pelo
                  nosso canal do
                  youtube e poderão ser acessados por aqui no menu "E-DOC REMOTO".
                </li>

                <li style="text-align: justify;">
                  - Oficinas e painéis interativos acontecerão em
                  plataformas digitais com links de acesso disponíveis para os autores
                  dos trabalhos e inscritos nas atividades aqui no site na aba "MEU E-DOC".
                </li>

                <li style="text-align: justify;">
                  - As gravações de todas as atividades ficarão disponíveis para o público
                  em geral, no youtube e na aba "PROGRAMAÇÃO" do menu programação.

                </li>

              </ul>

            </li>
          </ul>
        </div>
        <div class="col-lg-6 agenda">
          <div class="row">
            <div class="col-lg-12">
              <div class="agenda-titulo">
                <marquee>
                  <h2 style="color:#03989e">NOVIDADES</h2>
                </marquee>
              </div>
            </div>
          </div>
          <div id="noticias" class="row">
            <div class="agenda-items">
              <div *ngFor="let noticia of noticias">
                <div class="pull-right">{{noticia.createAt | date: 'dd/MM/yyyy' }}</div>
                <div [innerHTML]="noticia.name"></div>
                <div [innerHTML]="noticia.description"></div>

                <hr />
              </div>
              <br />

            </div>
          </div>
        </div>
      </div>

    </div>
  </section><!-- #about -->

  <!--==========================
      Escolha do tema
    ============================-->
  <!--<section id="escolha" class="wow fadeInUp">
    <div class="container">
      <div class="section-header">
        <h2>Escolha do Tema</h2>
        <p style="text-align: justify;">
          Escolhemos como logo o Ipê, que contrariando a natureza, suas flores desabrocham em dias
          secos e cinzentos de inverno. E é assim, antes mesmo do surgimento da nova folhagem, que
          elas anunciam a proximidade da Primavera. O Ipê nos remete a resistência e beleza, tão
          necessários nos tempos atuais.</p>

      </div>


      <div class="row align-items-center">
        <div class="col">
          <div style="display: flex;width: 100%;justify-content: center;">
            <img src="../../assets/img/ipe3.jpg" alt="imagem ipê">
          </div>
        </div>
      </div>

    </div>
  </section>-->



  <!--==========================
      Apresentação Section
    ============================-->
  <section id="clients" class="wow fadeInUp">
    <div class="container">
      <div class="section-header">
        <h2>Apresentação</h2>
        <p style="text-align: justify;">
          O Grupo de Pesquisa Docência e Cibercultura, GPDOC, pesquisa e desenvolve
          estudos e projetos sobre a docência na contemporaneidade, buscando inspirações nas práticas
          e processos da Cibercultura, em especial a Educação Online e os processos de ensino e
          aprendizagem. Articula as áreas da Educação, Comunicação e Informática. Seu principal
          engajamento é com a formação de pesquisadores e docentes em processos de formação inicial
          e continuada. Coordenado pela Profª. Drª. Edméa Santos, há mais de 14 anos, o GPDOC
          investiga os fenômenos sócio-técnicos e culturais mediados pelas tecnologias digitais de
          informação e comunicação e suas implicações para os processos formacionais de
          aprendizagem e docência. Desenvolvendo metodologias de pesquisa e projetos de ensino e
          aprendizagem que aproximem o currículo escolares e universitários das práticas
          comunicacionais na Cibercultura, como também currículos e atos de currículos (didática)
          para o exercício da docência online.

          <br />
          <br />
          Neste contexto, recursos humanos foram formados dentro e fora do GPDOC e em
          articulação com outros Grupos de Pesquisa e Redes Educativas que também atuam com as
          tecnologias digitais e estudos da Cibercultura. Com o objetivo de estabelecer mais diálogos e
          forjar uma ambiência formacional em rede propomos <strong>V Encontro Internacional Docência
            e Cibercultura (e-Doc)</strong>.
          O V e-Doc surge com o incentivo de tecer uma rede mais ampla no debate contemporâneo da
          docência na cibercultura. Desta forma a proposta se amplia sobremaneira integrando grupos
          de pesquisa de referência nos estudos e das pesquisas no campo da Cibercultura, incluindo a
          participação ativa numa integração multi programas de pós-graduação: PPGEDUC/UFRRJ,
          PROPED/UERJ, PPGECC/FEBF, PPGEB/CAp-UERJ, PPGI/UNIRIO e PGL/UERJ.

          <br />
          <br />

          O V e-Doc tem a possibilidade de contribuir para a criação de políticas públicas de
          educação e também fomentar micropolíticas cotidianas de invenções curriculares, atentas aos
          princípios da Educação On-line, alargadas pelo compartilhamento de experiências que, certamente,
          marcarão os encontros promovidos pelo evento.
          Assumindo que toda arte de fazer é também uma arte de pensar, o IV e-Doc visa fomentar
          conhecimentos e significações em torno das educações praticadas na pandemia, pluralizando
          as narrativas, deslocando o relato histórico para além dos documentos oficiais.
          É importante ressaltar que todo acervo que se materializará a partir do IV e-doc certamente será
          um legado às pesquisas e formações futuras: teremos a organização de ebook, dossiê, podcast,
          cibervídeos (nos seus mais variados gêneros), desenhos didáticos e artefatos curriculares digitais
          e os registros em vídeo das atividades que poderão ser acessados assincronamente, constituindo
          um repertório potente de Recursos Educacionais Abertos.


          <br />

          <i class="pull-right">
            Comitê Organizador
          </i>

        </p>
      </div>
    </div>
  </section><!-- #apresentação -->


  <!--==========================
      Objetivos Section
    ============================-->
  <section id="objetivos" class="wow fadeInUp">
    <div class="container">
      <div class="section-header">
        <h2>Objetivos</h2>
        <p style="text-align: justify;">
          - Compartilhar e divulgar práticas de pesquisa e formação de professores na cibercultura.

          <br />
          <br />
          - Dialogar com a comunidade científica interessada na interface Educação-Comunicação e Tecnologias.

          <br />
          <br />
          - Criar ambiências para a formação continuada de professores e pesquisadores na cibercultura.

          <br />

        </p>
      </div>
    </div>
  </section><!-- #objetivos -->

  <!--==========================
      Publico Section
    ============================-->
  <section id="publico" class="wow fadeInUp">
    <div class="container">
      <div class="section-header">
        <h2>Público Alvo</h2>
        <p style="text-align: justify;">
          Docentes da educação básica e superior, profissionais da educação, estudantes de
          graduação e pós-graduação.
          <br />

        </p>
      </div>
    </div>
  </section><!-- #publico -->



  <!--==========================
      Eixos Section
    ============================-->
  <section id="services">
    <div class="container">
      <div class="section-header">
        <h2>Eixos</h2>
        <!-- <p>Sed tamen tempor magna labore dolore dolor sint tempor duis magna elit veniam aliqua esse amet veniam
                    enim export quid quid veniam aliqua eram noster malis nulla duis fugiat culpa esse aute nulla ipsum
                    velit export irure minim illum fore</p> -->
      </div>

      <div class="row">

        <div class="col-lg-6" *ngFor="let eixo of eixos">
          <div style="cursor: pointer; color: #03989e;" class="box wow fadeInLeft" (click)="openDialogEixo(eixo)">
            <!-- <div class="icon"><i class="fa fa-bar-chart"></i></div> -->
            <h4 class="title"><a style="color: #03989e !important">{{ eixo.titulo }}</a></h4>
            <p class="description">
              <strong style="color: #9400A2 !important" [innerHTML]="eixo.tema"></strong>
            </p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- #eixos -->


  <!--==========================
        coordenação Geral Section
    ============================-->
  <section id="team" class="wow fadeInUp">
    <div class="container">
      <div class="section-header">
        <h2>Coordenação Geral</h2>
      </div>
      <div class="row">

        <ul style="list-style: none;">
          <li>
            <strong>Edméa Santos – UFRRJ</strong>
          </li>
        </ul>
      </div>
    </div>
  </section><!-- #coordenação geral-->

  <!--==========================
        coordenação executiva Section
    ============================-->
  <section id="team" class="wow fadeInUp">
    <div class="container">
      <div class="section-header">
        <h2>Vice-Coordenação</h2>
      </div>
      <div class="row">

        <ul style="list-style: none;">
          <li>
            <strong>Rosemary dos Santos - UERJ</strong>
          </li>
          <li>
            <strong>Tania Lucía Maddalena - UERJ</strong>
          </li>


        </ul>
      </div>
    </div>
  </section><!-- #coordenação -->


  <!--==========================
      organizacao Section
    ============================-->
  ~
  <!--<section id="team" class="wow fadeInUp">
    <div class="container">
      <div class="section-header">
        <h2>Organização</h2>
      </div>
      <div class="row">

        <ul style="list-style: none;">
          <li>
            <strong>Instituições</strong>
          </li>
          <li *ngFor="let instituicao of instituicoes">
            {{ instituicao }}
          </li>
          <li>
            <strong>Comitê</strong>
          </li>
          <li *ngFor="let comite of comites">
            {{ comite }}
          </li>
          <li>
            <strong>Secretaria</strong>
          </li>
          <li *ngFor="let secretaria of secretarias">
            {{ secretaria }}
          </li>
           <li>
            <div class="row contact-info" style="cursor: pointer;">
              <div>
                <div class="box wow fadeInLeft" (click)="openDialogApoiadores(gruposDeTrabalho, imagensApoiadores)">
                  <h4 class="title" style="color: #9400A2"><a>+ GRUPOS DE TRABALHO</a></h4>
                </div>
              </div>
            </div>
          </li>

        </ul>


      </div>
    </div>
  </section>- #coordenadores -->

  <!--==========================
      organizacao Section
    ============================-->
  <section id="comiteCientifico" class="wow fadeInUp">
    <div class="container">
      <div class="section-header">
        <h2>Comitê Científico</h2>
      </div>
      <div class="row">
        <ul>
          <ul style="list-style: none;">
            <li>
              <strong>Coordenação Geral:</strong>
            </li>
            <li *ngFor="let coordenacao of coordenacoesGerais">
              {{ coordenacao }}
            </li>
          </ul>
          <br />
          <ul style="list-style: none;">
            <li>
              <strong>Docências na cibercultura: o que fizemos, pensamos e aprendemos durante a pandemia COVID-19?
              </strong>
            </li>
            <br />
            <ul style="list-style: none;" *ngFor="let eixo of eixos">
              <strong>{{ eixo.titulo + ' - ' + eixo.tema }}</strong>
              <br /> <br />

              <li>
                <strong>Coordenação:</strong>
              </li>
              <li *ngFor="let coordenador of eixo.coordenacao">
                {{ coordenador }}
              </li>
              <br />
            </ul>
          </ul>

        </ul>

      </div>
    </div>
  </section><!-- #coordenadores -->

  <!--==========================
        Comitê Organizador Section
    ============================-->
  <section id="gruposdepesquisa" class="wow fadeInUp">
    <div class="container">
      <div class="section-header">
        <h2>Grupos de Pesquisa</h2>
      </div>
      <div class="row">

        <ul style="list-style: none;">
          <li>
            <strong>Grupo de Pesquisa Formação em Diálogo: narrativas de professoras, currículos e culturas</strong>
            <br>
            Coordenação: Cláudia Sonco (Cap/UERJ) e Andréa Fernandes (Cap/UERJ)
            <br>
            Link do Diretório CNPQ: <a href="http://dgp.cnpq.br/dgp/espelhogrupo/1606652985912288">
              http://dgp.cnpq.br/dgp/espelhogrupo/1606652985912288</a>
            <br>
          </li>
          <br />
          <li>
            <strong> Grupo de Pesquisa Sociabilidades, Cibercultura e Educação - SoCib</strong>

            <br>
            Coordenação: Luciana Velloso (UERJ) e Dilton Couto Jr. (UERJ)
            <br>
            Link do Diretório CNPQ: <a
              href="http://dgp.cnpq.br/dgp/espelhogrupo/5743955403770117">http://dgp.cnpq.br/dgp/espelhogrupo/5743955403770117</a>

          </li>
          <br />
          <li>
            <strong> Grupo de Pesquisa Docência e Cibercultura - GPDOC</strong>
            <br>
            Coordenação: Edméa Santos (UFRRJ) e Mariano Pimentel (UNIRIO)
            <br>
            Link do Diretório CNPQ: <a
              href="http://dgp.cnpq.br/dgp/espelhogrupo/4327920053209996">http://dgp.cnpq.br/dgp/espelhogrupo/4327920053209996</a>

          </li>
          <br />
          <li>
            <strong>Grupo de Pesquisa: Cibercultura, Educação e Narrativas Audiovisuais - CENA</strong>
            <br>
            Coordenação: Leonardo Nolasco (UERJ)
            <br>
            Link do Diretório CNPQ: <a
              href="http://dgp.cnpq.br/dgp/espelhogrupo/5391448755894552">http://dgp.cnpq.br/dgp/espelhogrupo/5391448755894552</a>
          </li>
          <br />
          <li>
            <strong>Grupo de Pesquisa: Currículos cotidianos, redes educativas, imagens e sons</strong>
            <br>
            Coordenação: Nilda Alves (UERJ)
            <br>
            Link do Diretório CNPQ: <a
              href="http://dgp.cnpq.br/dgp/espelhogrupo/3188691412661026">http://dgp.cnpq.br/dgp/espelhogrupo/3188691412661026</a>

          </li>
          <br />
          <li>
            <strong> Grupo de Estudos e Pesquisas das Tecnologias da Informação e Comunicação em Educação Matemática -
              GEPETICEM</strong>
            <br>
            Coordenação: Marcelo Bairral (UFRRJ)
            <br>
            Link do Diretório CNPQ: <a
              href="http://dgp.cnpq.br/dgp/espelhogrupo/9798037989007127">http://dgp.cnpq.br/dgp/espelhogrupo/9798037989007127</a>

          </li>
          <br />
          <li>
            <strong>Grupo de Pesquisa Educação e Cibercultura - EduCiber</strong>
            <br>
            Coordenação: Rosemary dos Santos (EDUCIBER/UERJ)
            <br>
            Link do Diretório CNPQ: <a
              href="http://dgp.cnpq.br/dgp/espelhogrupo/1613888313403931">http://dgp.cnpq.br/dgp/espelhogrupo/1613888313403931</a>

          </li>
          <br />
        </ul>
      </div>
    </div>
  </section><!-- #coordenação -->


  <!--==========================
        Bolsistas Section
    ============================-->
  <section id="bolsistas" class="wow fadeInUp">
    <div class="container">
      <div class="section-header">
        <h2>Bolsistas</h2>
      </div>
      <div class="row">

        <ul style="list-style: none;">
          <li>
            Victor Hugo Viana da Silva - GPDOC/UFRRJ

          </li>
          <li>
            Marcos Vinícius Menezes Dias de Menezes - GPDOC/UFRRJ

          </li>
          <li>
            Iris Moreira da Costa Domingos - UERJ/FEBF
          </li>
          <li>
            Isis Ferreira Duarte Garcia - UERJ/FEBF

          </li>
          <br />
        </ul>
      </div>
    </div>
  </section><!-- #bolsistas -->



  <!--==========================
      Historico Section
    ============================-->
  <!--<section id="historico" class="wow fadeInUp">
    <div class="container">
      <div class="section-header">
        <h2 style="color: #6fd5e7">e-Doc Anteriores</h2>
        <p style="color: white !important; text-align: justify;">
          A seguir, apresentamos uma síntese da memória dos primeiros três encontros realizados
          pelo GPDOC.
          O I Encontro Internacional Docência e Cibercultura surge como uma proposta dos integrantes
          do GPDOC.
          Este encontro buscou compartilhar práticas de pesquisa e formação de professores
          Cibercultura;
          divulgar experiências de pesquisa-formação na cibercultura; dialogar com a comunidade
          científica interessada na interface Educação-Comunicação e Tecnologias; criar ambiências
          para formação continuada de professores e pesquisadores na cibercultura. O I e-Doc,
          foi um encontro presencial, aconteceu do dia 3 a 6 de novembro de 2015, nas instalações
          do Programa de Pós-graduação em Educação da Faculdade de Educação da Universidade do Estado
          do Rio de Janeiro (Proped-UERJ).

          O I e-Doc, evento público e gratuito, contou com aproximadamente 50 participantes.
          Dentre estes, estudantes da pós-graduação e professores-pesquisadores de destacada
          trajetória nos estudos da Cibercultura. Entre as atividades realizadas, podemos ressaltar:
          painel de abertura com a Profa. Dra. Stéphanie Gasse (Université de Rouen - Département
          des Sciences de l'éducation/ França) e o Prof. Dr. Ronaldo Linhares (UNIT);
          conferências com o Prof. Dr. Marco Silva (UERJ), o Prof. Dr. Daniel Lopes (PPGEDU/UNISINOS),
          o Prof. Dr. Joaquim Barbosa (UERN); a conferência de encerramento com o Prof. Dr. Nelson Pretto
          (UFBA); duas rodas de conversa, duas oficinas, duas exposições artísticas, duas defesas de
          de membros do Gpdoc.
          Todos os registros do I e-Doc podem ser consultados no site do evento:
          http://e-docenciaecibercultura2015.blogspot.com
          , destacando quem em sua primeira edição já
          se materializou em um formato híbrido, deixando seus rastros nas transmissões das atividades
          via live do Facebook.

          <br />
          <br />
          O II Encontro Internacional Docência e Cibercultura aconteceu no dia 6 de novembro
          de 2017, foi um encontro de um dia completo de atividades pela manhã, tarde e noite.
          Mantendo os mesmos objetivos do I E-doc, sendo público e gratuito, neste segundo
          evento o GPDOC comemorou 10 anos como grupo de pesquisa. Houve um grande esforço por
          manter uma continuidade do E-Doc no difícil contexto sócio-político que a Universidade
          do Estado do Rio de Janeiro atravessou no ano de 2017.

          No II e-Doc foram 70 participantes presenciais nas diversas atividades do dia, entre eles,
          professores da escola básica, estudantes de graduação e pós-graduação da Faculdade de
          Educação da UERJ, professores-pesquisadores da UERJ e outras universidades do Brasil e Portugal.
          A conferência de abertura “Pesquisa-experiência e o acontecimento" foi realizada pelo Prof.
          Dr. Roberto Sidnei Macedo (UFBA); a mesa redonda "Multiletramentos, autoria e formação de
          professores na cibercultura" teve a presença da Profª. Drª. Terezinha Fernandes (UFMT),
          o Prof. Dr. Mariano Pimentel (UNIRIO) e o Prof. Dr. Leonel Tractenberg (UERJ).
          Houve um painel com membros do GPDOC, no qual os pesquisadores do grupo falaram sobre
          “Dispositivos multirreferenciais de pesquisa-formação na cibercultura” e a conferência
          de encerramento, com a palestrante internacional a Profª. Drª. Lúcia Amante (
          Universidade Aberta de Lisboa, Portugal).
          Foi disponibilizada a transmissão ao vivo do evento completo, pela página do evento no
          Facebook: https://www.facebook.com/edoc.gpdoc.uerj/ de todas as palestras e rodas de conversa.
          A transmissão online proporcionou uma extensão do público, trocas e maior divulgação dos debates.
          Todos os registros do II e-Doc podem ser consultados no site do evento, com mais de 7.000 visitas:
          http://e-docenciaecibercultura2017.blogspot.com/ .

          <br />
          <br />
          O III Encontro Internacional Docência e Cibercultura, aconteceu no dia 2 de dezembro
          de 2019 e contemplou a colaboração e o trabalho conjunto de grupos de pesquisa de
          duas universidades: o GPDOC da Universidade Federal Rural do Rio de Janeiro (UFRRJ)
          coordenado pela Profa. Dra. Edméa Santos e o Educiber, Grupo de Pesquisa Educação e
          Cibercultura que investiga como a Educação, a Cultura e a Comunicação podem potencializar
          práticas docentes em redes educativas no contexto da escola básica. O EduCiber é da
          Universidade do Estado do Rio de Janeiro, coordenado pela Profª. Drª.
          Rosemary dos Santos de Oliveira.
          O evento aconteceu no Instituto de Educação da UFRRJ, tendo como palestrante de abertura
          a Profa. Dra. Ana Cristina S. dos Santos, diretora do Instituto de Educação da UFRRJ.
          A conferência internacional “Desenho didático da Aprendizagem na Educação Online” foi
          realizada pelo Prof. Dr. António Quintas Mendes (Universidade Aberta de Lisboa, Portugal).
          E como conferência de encerramento “Didática Encarnada: desafios para a docência em nosso tempo”,
          promovida pelo Prof. Dr. Marco Silva (UERJ).
          Todos os registros do III E-Doc podem ser consultados no site do evento, com 3.300 visitas:
          https://e-docenciaecibercultura.blogspot.com/

          <br />
          <br />

          O IV e-Doc, aconteceu no período de 25/07 a 29/07 de 2022 na modalidade online com o objetivo de fomentar
          conhecimentos e significações em torno das educações praticadas na pandemia, pluralizando
          as narrativas, deslocando o relato histórico para além dos documentos oficiais.
          É importante ressaltar que todo acervo materializarado a partir do IV e-doc servirá
          de legado às pesquisas e formações futuras: ebook, dossiê, podcast,
          cibervídeos (nos seus mais variados gêneros), desenhos didáticos e artefatos curriculares digitais
          e os registros em vídeo das atividades que poderão ser acessados assincronamente, constituindo
          um repertório potente de Recursos Educacionais Abertos.

          A abertura do evento aconteceu no dia 25/07/2022 no Instituto de Educação da UFRRJ, tendo como palestrante de
          abertura
          a Profa. Dra. Ana Cristina S. dos Santos, diretora do Instituto de Educação da UFRRJ, o Vice-reitor
          César Augusto da Ros, Profa. Dra. Edméa Santos, Líder do GPDOC/UFRRJ e
          Prof. Dr. Marcelo Bairral, coordenador do PPGEDUC/UFRRJ. Nesse mesmo dia ocorreu a conferência online
          "Literacias
          Científicas na Cibercultura: uma introdução a interfaces de anotação pessoal e social", com mediação de Simone
          Lucena
          coordenadora do GT16 da Anped(Universidade Federal de Sergipe), Antonio Quintas Mendes da UAb-PT (Universidade
          Aberta
          de Lisboa) e Rosemary dos Santos, líder da Educiber (UERJ).

          O encerramento do evento aconteceu no dia 29/07/2022 na Universidade do Estado do Rio de Janeiro (UERJ),
          contando
          com a Conferência "Formação de Professores para a docência na sala de aula híbrida" realizada pelo Prof. Dr.
          Marco Silva,
          a Roda de Conversa "Criações, Aprendizagens e Mediações na pandemia e na pós-pandemia" pelos Profs. Drs.
          Rosemary dos Santos
          (UERJ), Leonardo Nolasco (UERJ), Luciana Veloso (UERJ), Helenise Cassiano (UERJ) e Tania Lucia Maddalena
          (UERJ).


          A conferência internacional “Desenho Didático Online: uma experiência de Mestrado Profissional França/África”
          foi
          realizada pela Profa. Dra. Stéphanie Gasse (Université de Ruen) que gerou um debate sobre Pós-Graduação
          Online, com as Profas. Dras.
          Miriam Maia do Amaral da FGV (Fundação Getúlio Vargas), Tatiana Stofella S. Rossini da UFRRJ e Kathia Marise
          Salles da
          UNEB (Universidade do Estado da Bahia).
          E como conferência de encerramento “Didática Encarnada: desafios para a docência em nosso tempo”,
          promovida pelo Prof. Dr. Marco Silva (UERJ).
          Todos os registros do IV E-Doc podem ser consultados na aba "Memórias e-Doc" nesse site com mais de 5.000
          visitas:
          http://e-doc.pro.br/memorias


        </p>
        <br />
        <br />
           <table class="table table-responsive table-striped tabelaCronograma">
          <thead>
            <tr>
              <th class="text-center">
                ANO
              </th>
              <th class="text-center">
                TEMA
              </th>
              <th class="text-center">
                COORDENAÇÃO GERAL
              </th>
              <th class="text-center">
                INSTITUIÇÃO PROMOTORA
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>2020</td>
              <td>XX ENDIPE – “Fazeres-Saberes pedagógicos: diálogos, insurgências e políticas”</td>
              <td>Giseli Barreto da Cruz / Claudia de Oliveira Fernandes</td>
              <td>Universidade Federal do Rio de Janeiro e Universidade Federal do Estado do Rio de Janeiro –
                Rio de Janeiro/RJ</td>
            </tr>
            <tr>
              <td>2018</td>
              <td>XIX ENDIPE – “Para onde vai a didática? O enfrentamento às abordagens teóricas e desafios
                políticos da atualidade”</td>
              <td>Cristina Maria D’Ávila Teixeira</td>
              <td>Universidade Federal da Bahia – Salvador/BA</td>
            </tr>
            <tr>
              <td>2016</td>
              <td>XVIII ENDIPE – “Didática e Prática de Ensino no contexto político contemporâneo: cenas da
                educação brasileira”</td>
              <td>Silas Borges Monteiro</td>
              <td>Universidade Federal do Mato Grosso – Cuiabá/MT</td>
            </tr>
            <tr>
              <td>2014</td>
              <td>XVII ENDIPE – “A Didática e as práticas de ensino nas relações entre escola, formação de
                professores e a sociedade”</td>
              <td>Maria do Socorro Lucena Lima</td>
              <td>Universidade do Estado do Ceará – Fortaleza/CE</td>
            </tr>
            <tr>
              <td>2012</td>
              <td>XVI ENDIPE – “Didática e Práticas de Ensino: compromisso com a escola pública, laica,
                gratuita e de qualidade”</td>
              <td>Alda Marin Junqueira / Selma Garrido Pimenta</td>
              <td>Universidade Estadual de Campinas – Campinas / SP</td>
            </tr>
            <tr>
              <td>2010</td>
              <td>XV ENDIPE – “Convergências e tensões no campo da formação e do trabalho docente: políticas e
                práticas educacionais”</td>
              <td>Ângela Dalben / Julio Emilio Diniz Pereira / Lucíola L. Santos</td>
              <td>Universidade Federal de Minas Gerais – Belo Horizonte / MG</td>
            </tr>
            <tr>
              <td>2008</td>
              <td>XIV ENDIPE – “Trajetórias e Processos de Ensinar e Aprender: lugares, memórias e culturas”
              </td>
              <td>Maria Isabel da Cunha / Maria Helena M. B. Abrahão</td>
              <td>Pontifícia Universidade Católica de Porto Alegre/RS</td>
            </tr>
            <tr>
              <td>2006</td>
              <td>XIII ENDIPE – “Educação, Questões Pedagógicas e Processos Formativos: compromisso com a
                inclusão social”</td>
              <td>Aída Maria Monteiro da Silva</td>
              <td>Universidade Federal de Pernambuco – Recife / PE</td>
            </tr>
            <tr>
              <td>2004</td>
              <td>XII ENDIPE – “Conhecimento universal e conhecimento local”</td>
              <td>Lillian Anna Wachowicz</td>
              <td>Pontifícia Universidade Católica do Paraná – Curitiba/PR</td>
            </tr>
            <tr>
              <td>2002</td>
              <td>XI ENDIPE – “Igualdade e diversidade na educação"</td>
              <td>José Carlos Libâneo</td>
              <td>Universidade Federal de Goiás – Goiânia / GO</td>
            </tr>
            <tr>
              <td>2000</td>
              <td>X ENDIPE – “Ensinar e aprender: sujeitos, saberes, espaços e tempos”</td>
              <td>Vera Maria Candau</td>
              <td>Universidade do Estado do Rio de Janeiro – Rio de Janeiro/RJ</td>
            </tr>
            <tr>
              <td>1998</td>
              <td>IX ENDIPE – “Olhando a qualidade do ensino a partir da sala de aula”</td>
              <td>Selma Garrido Pimenta</td>
              <td>Universidade de São Paulo – Águas de Lindóia / SP</td>
            </tr>
            <tr>
              <td>1996</td>
              <td>VIII ENDIPE – “Formação e profissionalização do educador”</td>
              <td>Leda Schelbe / Maria da Graça Soares</td>
              <td>Universidade Federal de Santa Catarina – Florianópolis / SC</td>
            </tr>
            <tr>
              <td>1994</td>
              <td>VII ENDIPE – “Produção do conhecimento e trabalho docente”</td>
              <td>José Carlos Libâneo</td>
              <td>Universidade Federal de Goiás – Goiânia / GO</td>
            </tr>
            <tr>
              <td>1991</td>
              <td>VI ENDIPE – “Perspectivas do trabalho docente para o ano 2000: qual Didática e qual Prática
                de Ensino? As bases teóricas de uma prática docente interdisciplinar: explicitações
                necessárias”</td>
              <td>Merion Campos Bordas</td>
              <td>Universidade Federal do Rio Grande do Sul – Porto Alegre / RS</td>
            </tr>
            <tr>
              <td>1989</td>
              <td>V ENDIPE – “Organização do processo de trabalho docente: em busca da integração da Didática
                e da Prática de Ensino”</td>
              <td>Maria de Lourdes Rocha de Lima</td>
              <td>Universidade Federal de Minas Gerais – Belo Horizonte / MG</td>
            </tr>
            <tr>
              <td>1987</td>
              <td>IV ENDIPE – “A prática pedagógica e a educação transformadora na sociedade brasileira”</td>
              <td>Aída Maria Monteiro da Silva</td>
              <td>Universidade Católica de Pernambuco – Recife / PE</td>
            </tr>
            <tr>
              <td>1985</td>
              <td>III Seminário A Didática em Questão (III ENDIPE)</td>
              <td>Olga Molina</td>
              <td>Universidade de São Paulo – São Paulo / SP</td>
            </tr>
            <tr>
              <td>1983</td>
              <td>II Seminário A Didática em Questão (II ENDIPE)</td>
              <td>Vera Maria Candau</td>
              <td>Universidade Católica do Rio de Janeiro/RJ</td>
            </tr>
            <tr>
              <td>1982</td>
              <td>I Seminário A Didática em Questão (I ENDIPE)</td>
              <td>Vera Maria Candau</td>
              <td>Universidade Católica do Rio de Janeiro/RJ</td>
            </tr>

          </tbody>
        </table>
        <p style="color: white !important;text-align: justify;">
          Os ENDIPEs já foram realizados, em muitos casos mais de uma vez, nas cidades de São
          Paulo, Rio de Janeiro, Recife, Belo Horizonte, Porto Alegre, Florianópolis, Goiânia,
          Curitiba e Campinas. Foram dez estados brasileiros e inúmeras universidades que
          abraçaram a proposta de realização desses eventos e empenharam esforços para que eles
          alcançassem êxito e reconhecimento, o que se faz notar não só pela presença de elevado
          número de participantes, mas também pela colaboração das mais significativas agências
          de fomento brasileiras.
          <br />
          Pela primeira vez na história a Universidade Federal de Uberlândia, localizada em uma
          cidade do interior de Minas Gerais, sediará uma edição do ENDIPE.
        </p>
      </div>
    </div>

  </section>-->

  <!--==========================
      modalidades Section
    ============================-->
  <section id="modalidades" class="wow fadeInUp">
    <div class="container">
      <div class="section-header">
        <h2 style="color: #6fd5e7">Modalidades De Participação</h2>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <div class="box wow fadeInLeft">
            <h4 class="title">Moderador de exposição e fruições artístico-literárias</h4>
            <p class="description" style="text-align: justify;">
              Coordenação: Leonardo Nolasco e Tánia Maddalena
              <br>
              Objetivo: Compartilhar e vivênciar ciberdispositivos artístico-literários.
              Exemplos: performances, dispositivos, exposições online, fenômenos da cibercultura.
              <br>
              Oferta e público: serão ofertados até 4 (com duração de até meia hora cada) ciber-dispositivos
              artístico-literários por dia.
              <br>
              Quem participará? Inscritos e não inscritos no evento.
              <br>
              Quem ofertará? Artistas e docentes convidados. Cada grupo de pesquisa associado diretamente ao
              IV e-doc apresentará sugestões de ciberdispositivos. Grupos parceiros (a exemplo de egressos GPDOC
              e da comunidade Anped GT16) serão convidados também.
              <br>
              Onde? Canal do YOUTUBE do IV e-doc , com acesso aberto para inscritos e não inscritos. Sala de zoom
              acessada pela plataforma do evento para grupos de pesquisa associados.
              <br>
              Período: de 26, 27 e 28 de julho de 2022.
              <br>
              Horário: das 10:00 as 12:00.



            </p>
            <div class="pull-right pulse">
              <!-- <a (click)="openDialogFruicao()" tabindex="0" alt="Normas de expositor de fruições´artístico-literárias"
                title="Normas de expositor de fruições´artístico-literárias" style="color: #ffffff;cursor: pointer;">Ver
                Normas</a><br />-->
              <div *ngIf="carregando">
                <i class="fas fa-spinner fa-pulse"></i>
              </div>
              <a *ngIf="!carregando" (click)="downloadTemplate('templates/template_exposicao00000.docx')"
                style="color: rgb(236 207 255);cursor: pointer;">Download Template</a>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="box wow fadeInLeft">
            <h4 class="title">Mediador de Oficina</h4>
            <p class="description" style="text-align: justify;">
              Coordenação: Aline de Alvernaz e Maristela Midlej
              <br>
              Objetivo: Compartilhar e vivênciar ambiências formativas sobre docência e
              cibercultura com grupos de pesquisa e docentes da escola básica.
              <br>
              Oferta e público: serão ofertadas 9 oficinas por dia. Ao todo teremos 27 oficinas com
              30 vagas para cada oferta.
              <br>
              Quem cursará? docentes da rede pública do Estado do Rio de Janeiro (rede estadual e municipal)
              e membros dos grupos associados e convidados.
              <br>
              Quem ofertará? Cada grupo de pesquisa associado diretamente ao IV e-doc, ofertará uma oficina.
              Grupos parceiros (a exemplo de egressos GPDOC e da comunidade Anped GT16) serão convidados também.
              <br>
              Onde? Sala de zoom acessada pela plataforma do evento. Todos os cursos serão gravados, para usos
              posteriores, mas não serão transmitidos.
              <br>
              Período: de 26, 27 e 28 de julho de 2022.
              <br>
              Horário: das 08:00 as 10:00.
            </p>
            <div class="pull-right pulse">
              <!--<a (click)="openDialogMinicurso()" tabindex="0" alt="Normas mediador de minicurso"
                title="Normas mediador de minicurso" style="color: #ffffff;cursor: pointer;">Ver Normas</a><br />-->
              <div *ngIf="carregando">
                <i class="fas fa-spinner fa-pulse"></i>
              </div>
              <a *ngIf="!carregando" (click)="downloadTemplate('templates/template_oficina00000.docx')"
                style="color: rgb(236 207 255);cursor: pointer;">Download Template</a>
            </div>
          </div>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-lg-6">
          <div class="box wow fadeInLeft">
            <h4 class="title">Expositor de Painel</h4>
            <p class="description" style="text-align: justify;">
              Coordenadores: Dilton Couto Junior e Rosemary dos Santos
              <br>
              Objetivo: Compartilhar metodologias e resultados de pesquisa em Educação e Cibercultura dos
              grupos associados.
              <br>
              Oferta: rodas de conversas (metodologia do painel) compostas por até 10 participantes que terão o
              código para participar.
              <br>
              Quem participará? inscritos e não inscritos no evento.
              <br>
              Quem ofertará? Pesquisadores dos grupos associados (estudantes e egressos de mestrado e doutorado).
              Cada grupo de pesquisa associado diretamente ao IV e-doc apresentará pesquisados desenvolvidas nas
              diferentes temáticas.
              <br>
              Onde? Canal do YOUTUBE do IV e-doc, com acesso aberto para inscritos e não inscritos. Sala de zoom
              acessada pela plataforma do evento para grupos de pesquisa associados.
              <br>
              Período: de 26, 27 e 28 de julho de 2022.
              <br>
              Horário: das 14:00 as 17:00.
            </p>

            <div class="pull-right">
              <!--<a (click)="openDialogPainel()" tabindex="0" alt="Normas Coordenador e expositor de Painel"
                title="Normas Coordenador e expositor de Painel" style="color: #ffffff;cursor: pointer;">Ver
                Normas</a><br />-->
              <div *ngIf="carregando">
                <i class="fas fa-spinner fa-pulse"></i>
              </div>
              <a *ngIf="!carregando" (click)="downloadTemplate('templates/template_painel00000.docx')"
                style="color: rgb(236 207 255);cursor: pointer;">Download Template</a>
            </div>
          </div>
        </div>
        <!--  </div>-->
        <!--  <div class="row">-->
        <div class="col-lg-6">
          <div class="box wow fadeInLeft">
            <h4 class="title">Coordenador de Lançamento de livro</h4>
            <p class="description" style="text-align: justify;">
              Coordenação: Luciana Velloso e Wallace Almeida
              <br>
              Objetivo: Compartilhar autorias sobre Educação e Cibercultura dos membros dos grupos associados
              e convidados.
              <br>
              Oferta: rodas de conversas compostas por até 10 participantes.
              <br>
              Quem participará? inscritos e não inscritos no evento.
              <br>
              Quem ofertará? Pesquisadores dos grupos associados e grupos convidados.
              <br>
              Autores enviarão links de vídeos no Youtube de até 5 minutos sobre seus livros.
              <br>
              Apresentação do lançamento: membros dos grupos associados, uma dupla por dia.
              <br>
              Coordenação dos lançamentos de livros: mandar 1 vídeo por dia, consolidando com vídeos individuais.
              <br>
              Período: de 26, 27 e 28 de julho de 2022.
              <br>
              Horário: das 18:00 as 19:00
            </p>

          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="box wow fadeInLeft">
              <h4 class="title">Conferencista</h4>
              <p class="description" style="text-align: justify;">
                Coordenação: Edmea Santos e Mariano Pimentel
                <br>
                Objetivo: Compartilhar autorias sobre Educação e
                <br>
                Cibercultura com convidados internacionais e nacionais
                <br>
                Mediação: pesquisador associado.
                <br>
                Oferta: uma conferência ou mesa redonda por noite
                <br>
                Quem participará? inscritos e não inscritos no evento.
                <br>
                Quem ofertará? Pesquisadores convidados.
                <br>
                Mediação: pesquisador associado.
                <br>
                Período: de 26, 27 e 28 de julho de 2022.
                <br>
                Horário: das 20:00 as 22:00

              </p>
              <div class="pull-right pulse">

                <div *ngIf="carregando">
                  <i class="fas fa-spinner fa-pulse"></i>
                </div>
                <a *ngIf="!carregando" (click)="downloadTemplate('templates/template_conferencista0000.docx')"
                  style="color: rgb(236 207 255);cursor: pointer;">Download Template</a>
              </div>
            </div>
          </div>
          <!--  </div>-->
          <!--  <div class="row">-->
          <div class="col-lg-6">
            <div class="box wow fadeInLeft">
              <h4 class="title">Ouvinte</h4>
              <p class="description" style="text-align: justify;">
                Serão aceitas no e-Doc inscrições de ouvintes sem apresentação de trabalho.
                Poderão
                se inscrever nessa modalidade professores da Educação Básica e da Educação Superior,
                pesquisadores,
                estudantes de pós-graduação e estudantes de graduação.
              </p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
  <!-- #testimonials -->


  <!--==========================
      Cronograma Section
    ============================-->

  <!--<section id="valores" class="wow fadeInUp mt-4">
    <div class="container">
      <div class="section-header">
        <h2>Valores</h2>
      </div>
      <div class="col-lg-12">
        <div class="row">
          <table class="table table-responsive table-striped tabelaCronograma">
            <thead>
              <tr>
                <th></th>
                <th class="text-center">
                  Março a Novembro/2022
                </th>
                  <th class="text-center">
                  Outubro a Dezembro/2019
                </th>
                <th class="text-center">
                  Janeiro a Março/2020
                </th>
                <th class="text-center">
                  Abril a Julho/2020
                </th> 
              </tr>
            </thead>
            <tbody>
              <tr>
                <th class="text-nowrap" scope="row">Estudantes de Curso Normal/EM</th>
                <td style="text-align: center">R$ 70,00</td>
                <td style="text-align: center">R$ 80,00</td>
                <td style="text-align: center">R$ 90,00</td>
                <td style="text-align: center">R$ 100,00</td>
              </tr>
              <tr>
                <th class="text-nowrap" scope="row">Estudantes de Graduação e pós-graduação com comprovação</th>
                <td style="text-align: center">R$ 40,00</td>
                   <td style="text-align: center">R$ 80,00</td>
                <td style="text-align: center">R$ 90,00</td>
                <td style="text-align: center">R$ 100,00</td>
              </tr>
                 <tr>
                <th class="text-nowrap" scope="row">Estudantes de Pós-Graduação</th>
                <td style="text-align: center">R$ 140,00</td>
                <td style="text-align: center">R$ 160,00</td>
                <td style="text-align: center">R$ 180,00</td>
                <td style="text-align: center">R$ 200,00</td>
              </tr> 
              <tr>
                <th class="text-nowrap" scope="row">Professores e demais profissionais da Educação Básica</th>
                <td style="text-align: center">R$ 80,00</td>
                 <td style="text-align: center">R$ 160,00</td>
                <td style="text-align: center">R$ 180,00</td>
                <td style="text-align: center">R$ 200,00</td>
              </tr>
              <tr>
                <th class="text-nowrap" scope="row">Docentes de Educação Superior</th>
                <td style="text-align: center">R$ 120,00</td>
                  <td style="text-align: center">R$ 315,00</td>
                <td style="text-align: center">R$ 345,00</td>
                <td style="text-align: center">R$ 375,00</td>
              </tr>
                  <tr>
                <th class="text-nowrap" scope="row">Desconto 20% para as #9400A2es de Ensino (Pacote de 50
                  Inscrições)</th>
                <td style="text-align: center">R$ 5.600,00</td>
                <td style="text-align: center">R$ 6.400,00</td>
                <td style="text-align: center">R$ 7.200,00</td>
                <td style="text-align: center">R$ 8.000,00</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="section-header">

        <p style="color: rgb(14, 13, 13) !important; text-align: justify;">
          Informamos que em função da organização do XXI ENDIPE ser em formato remoto, os valores<br />
          de inscrição foram calculados considerando a diminuição de despesas com passagens aéreas, <br />
          hospedagem e diárias para palestrantes, materiais impressos, bolsas, dentre outros itens <br />
          que não serão necessários em função do formato do evento.

          <br />
        </p>
      </div>
    </div>
  </section>
-->

  <!--==========================
      Cronograma Section
    ============================-->
  <section id="normas" class="wow fadeInUp">
    <div class="container">
      <div class="section-header">
        <h2>Normas Gerais</h2>
      </div>
      Atenção, leia as normas para não perder detalhes especificos sobre sua participação<br /><br />
      <div class="row">
        <div style="cursor: pointer;" class="col-lg-6">
          <div class="box wow fadeInLeft" (click)="openDialogNormas()">
            <h4 class="title" style="color: #9400A2; font-weight: bold;"><a>Ver Normas</a></h4>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- #cronograma -->


  <!--==========================
      Cronograma Section
    ============================-->
  <section id="prazos" class="wow fadeInUp">
    <div class="container">
      <div class="section-header">
        <h2>Prazos</h2>
      </div>
      <div class="col-lg-12 agenda">
        <div class="row">
          <table class="table table-responsive table-striped tabelaCronograma">

            <tbody>

              <tr>
                <th class="text-nowrap">Início das Inscrições</th>
                <th class="text-nowrap">11 de julho de 2022</th>
              </tr>
              <tr>
                <th class="text-nowrap">Submissão de Trabalhos</th>
                <th class="text-nowrap">11 de julho a 20 de julho de 2022<br />
                  <!--    <b style="color: #9400A2;">PRORROGADA ATÉ 18/02/2020</b>-->
                </th>
              </tr>
              <tr>
                <th class="text-nowrap">Avaliação pelo Comitê Cientifico</th>
                <th class="text-nowrap">Até 22 de julho de 2022<br />
                  <!--<b style="color: #9400A2;">Até 29 de abril de 2020</b>-->
                </th>
              </tr>
              <tr>
                <th class="text-nowrap">Divulgação da programação do evento</th>
                <th class="text-nowrap"> Até 18 de julho de 2022<br />
                  <!-- <b style="color: #9400A2;">30 de abril de 2020</b>-->

                </th>
              </tr>


              <tr>
                <th class="text-nowrap">Inscrição nas Oficinas </th>
                <th class="text-nowrap"> 22 a 24 de julho de 2022<br />
                  <!-- <b style="color: #9400A2;">28/09 a 02/10</b>-->

                </th>
              </tr>


            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
  <!-- #cronograma -->

  <!--==========================
      Cronograma Section
    ============================-->
  <!-- <section id="anais" class="wow fadeInUp">
    <div class="container">
      <div class="section-header">
        <h2>Anais</h2>
      </div>
      <a class="dropdown-item" [routerLink]="['/anais-virtual']" fragment="anais">Clique aqui para acessar</a>

      <p *ngIf="anais.length > 0">Confira os anais abaixo:</p>

      <ul style="list-style-type: circle;" *ngFor="let anal of anais">
        <li><a href="{{anal.link}}" target="blank"><u>{{anal.name}}</u></a></li>
      </ul>-->
  <!-- </div> 
    </div>
  </section>
   #cronograma -->


  <!--==========================
      hospedagem Section
    ============================
  <section id="hospedagem" class="wow fadeInUp">
    <div class="container">
      <div class="section-header">
        <h2>Hospedagem</h2>
      </div>
      <div class="row">
        <div class="col-xs-12 col-lg-9">
          <div class="row contact-info" style="text-align: left;">
            <p class="box wow fadeInLeft">Informações sobre:</p><br /><br />
            <div class="col-lg-12">
              <div class="box wow fadeInLeft" style="cursor: pointer;" (click)="openDialogHospedagem()">
                <h4 class="title"><a>Hospedagem</a></h4>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="box wow fadeInLeft" style="cursor: pointer;" (click)="openDialogAlimentacao()">
                <h4 class=" title"><a>Alimentação</a></h4>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="box wow fadeInLeft" style="cursor: pointer;" (click)="openDialogTransporte()">
                <h4 class=" title"><a>Transporte</a></h4>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="box wow fadeInLeft" style="cursor: pointer;" (click)="openDialogTurismo()">
                <h4 class=" title"><a>Turismo</a></h4>
              </div>
            </div>

          </div>
        </div>
        <div class="col-xs-12 col-lg-3" style="margin-left: 0px;">-->

  <!-- Widget Previs&atilde;o de Tempo CPTEC/INPE <iframe allowtransparency="true" marginwidth="0"
            marginheight="0" hspace="0" vspace="0" frameborder="0" scrolling="no"
            src="https://www.cptec.inpe.br/widget/widget.php?p=241&w=h&c=051d8a&f=b3f2d1" height="200px"
            width="215px"></iframe><noscript>Previs&atilde;o de <a href="http://www.cptec.inpe.br/cidades/tempo/241">Rio
              de Janeiro/RJ</a> oferecido por <a href="http://www.cptec.inpe.br">CPTEC/INPE</a></noscript>
           Widget Previs&atilde;o de Tempo CPTEC/INPE 
        </div>
      </div>
    </div>



  </section>-->
  <!-- #testimonials -->


  <!-- #cronograma -->

  <!--==========================
      Contact Section
    ============================-->
  <section id="contact" class="wow fadeInUp">
    <div class="container">
      <div class="section-header">
        <h2>Informações Gerais</h2>

      </div>

      <div class="row contact-info">

        <div class="col-md-12">
          <div class="contact-address">
            <!-- <i class="ion-ios-location-outline"></i>-->
            <h3>Universidade Federal Rural do Rio de Janeiro</h3>
            <p class="description" style="text-align: center;">
              FACULDADE DE EDUCAÇÃO
              <br />
              PROGRAMA DE PÓS-GRADUAÇÃO EM EDUCAÇÃO
              <br />
              ENCONTRO INTERNACIONAL DE DOCÊNCIA e CIBERCULTURA
              <br />
              V e-Doc
              <br />
              Docência na cibercultura : encontros disruptivos
              (modalidade online))
            </p>
            <!-- <address>Avenida Pasteur, 250, Urca, Rio de Janeiro-RJ, Brasil <br> CEP 22290-902
            </address>-->
          </div>
        </div>

        <!-- <div class="col-md-4">
          <div class="contact-phone">
            <i class="ion-ios-telephone-outline"></i>
            <h3>Telefone</h3>
            <p><a href="tel:+155895548855">+1 5589 55488 55</a></p>
          </div>
        </div>-->

        <div class="col-md-6">
          <div class="contact-phone">
            <!-- <i class="ion-ios-telephone-outline"></i>-->
            <h3>Data</h3>
            <p>Agosto a Dezembro de 2024</p>
          </div>
        </div>

        <div class="col-md-6">
          <div class="contact-email">
            <!-- <i class="ion-ios-email-outline"></i>-->
            <h3>Email</h3>
            <p><a href="mailto:edocufrrj@gmail.com">edocufrrj@gmail.com</a></p>
          </div>
        </div>
      </div>

    </div>

  </section><!-- #contact -->

  <!--<section id="realizacao" class="wow fadeInUp">
    <div class="container">
      <div class="section-header">
        <h2>Financiamento</h2>
      </div>
      <div class="row">
        <div class="mt-4">
          <div class="row align-items-center">

            <div class="col-md-3 text-center">
              <img src="../../assets/img/parceiros/Faperj.png" alt="imagem parceiros">
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>-->

  <section id="realizacao" class="wow fadeInUp">
    <div class="container">
      <div class="section-header">
        <h2>Realização</h2>
      </div>
      <div class="row">
        <div class="mt-4">
          <div class="row align-items-center">

            <div class="col-md-2 text-center">
              <img src="../../assets/img/parceiros/GT 16 - Anped.png" alt="imagem parceiros">
            </div>
            <div class="col-md-3 text-center">
              <img src="../../assets/img/parceiros/UFRRJ.png" alt="imagem parceiros">
            </div>
            <div class="col-md-2 text-center">
              <img src="../../assets/img/parceiros/PPGEDUC UFRRJ.png" alt="imagem parceiros">
            </div>


            <div class="col-md-2 text-center">
              <img src="../../assets/img/parceiros/GPDOC.png" alt="imagem parceiros">
            </div>
            <!-- <div class="col-md-2 text-center">
              <img src="../../assets/img/parceiros/UERJ.png" alt="imagem parceiros">
            </div>
            <div class="col-md-2 text-center">
              <img src="../../assets/img/parceiros/PROPED UERJ.jpeg" alt="imagem parceiros">
            </div>-->

          </div>
        </div>

      </div>
    </div>
  </section>

  <!--==========================
      parcerias Section
    ============================-->
  <section id="parcerias" class="wow fadeInUp">
    <div class="container">
      <div class="section-header">
        <h2>Apoio</h2>
      </div>
      <div class="row">
        <div class="mt-4">
          <div class="row align-items-center">

            <div class="col-md-2 text-center">
              <img src="../../assets/img/parceiros/capes.png" alt="imagem parceiros">
            </div>


            <div class="col-md-2 text-center">
              <img src="../../assets/img/parceiros/Faperj.png" alt="imagem parceiros">
            </div>

            <!--  <div class="col-md-2 text-center">
                <img src="../../assets/img/parceiros/PGL UERJ.png" alt="imagem parceiros">
              </div>
  
              <div class="col-md-2 text-center">
                <img src="../../assets/img/parceiros/PPGEB Cap UERJ.png" alt="imagem parceiros">
              </div>
  
              <div class="col-md-2 text-center">
                <img src="../../assets/img/parceiros/PPGECC FEBF.jpeg" alt="imagem parceiros">
              </div>
  
  
              <div class="col-md-2 text-center">
                <img src="../../assets/img/parceiros/PPGI UNIRIO.png" alt="imagem parceiros">
              </div>
  
              <div class="col-md-2 text-center">
                <img src="../../assets/img/parceiros/UNIRIO.png" alt="imagem parceiros">
              </div>-->

          </div>
        </div>



      </div>
    </div>
  </section>
</main>
<app-footer></app-footer>

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>